* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(6, 1, 61);
}
:root {
  --bgcolor: rgb(4, 127, 208);
  --gradient: linear-gradient(45deg, rgb(9, 57, 40), rgb(12, 55, 57), #0a2e6c);
  --clr: #5e261c;
  --gradient-two:linear-gradient(45deg,rgb(36, 69, 36),rgb(41, 69, 59));
}

body {
  font-family: monospace;
}
.App{
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
    max-height: 100vh;
}
.home-section-app{
  scroll-snap-align: start;
}
.about-section-app{
  scroll-snap-align: start;
}
.skills-section-app{
  scroll-snap-align:center;
}
.projects-section-app{
  scroll-snap-align: start;
}
.contact-section-app{
  scroll-snap-align: start;
}